# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ "*" ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      TOX_DB_NAME: letsmaintain
      TOX_DB_USER: postgres
      TOX_DB_PASSWD: ${{ secrets.PG_PASS }}
      DJANGO_SETTINGS_MODULE: test_setup.settings
      TOX_DB_ENGINE: django.db.backends.postgresql

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: ${{ secrets.PG_PASS }}
          POSTGRES_USER: postgres
          POSTGRES_DB:: letsmaintain
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
        django-version: ["Django>=5.2,<6.0", "Django>=6.0,<6.1"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install "${{ matrix.django-version }}"
        python -m pip install pytest-django pytest-cov pytest-factoryboy psycopg2-binary
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: set pythonpath
      run: |
        echo "PYTHONPATH=$GITHUB_WORKSPACE" >> $GITHUB_ENV

    - name: Test with pytest
      run: |
        pytest -rs --nomigrations --cov --cov-branch

    # - name: Coveralls
    #   uses: coverallsapp/github-action@v1
    #   with:
    #     parallel: true
    #     flag-name: Testing
    #     github-token: ${{ secrets.GITHUB_TOKEN }}

  # coveralls_finish:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   steps:

  #   - uses: actions/checkout@v2
  #   - name: Set up Python
  #     uses: actions/setup-python@v2
  #     with:
  #       python-version: "3.11"  # CHECK

  #   - name: Install last pass dependencies
  #     run: |
  #       python -m pip install black flake8 bandit
  #   - name: Run Last Checks
  #     run: |
  #       black . --check
  #       flake8 .
  #       bandit letsmaintain/*

    # - name: Coveralls Finished
    #   uses: coverallsapp/github-action@v1
    #   with:
    #     parallel-finished: true
    #     github-token: ${{ secrets.GITHUB_TOKEN }}
